body {
    background: #f0f0f0 none repeat scroll 0 0;
    color: #474747;
    font-family: Roboto,RobotoDraft,"Helvetica Neue",arial,sans-serif;
    font-size: 110%;
    height: 100vh;
    margin: 0;
}